.Footer {
  font: var(--font-regular);
  color: var(--secondary-color-1);
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('/kawodeda.svg') no-repeat center top;
    width: 200px;
    transform: translateY(40%);
    padding-bottom: 20px;
  }

  &__img {
    width: 40px;
    height: 40px;

    @media (max-width: 400px) {
      width: 30px;
      height: 30px;
    }
  }
}

.SocialList {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.List {
  list-style: none;

  &__item {
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 40px;

    @media (max-width: 400px) {
      width: 30px;
      height: 30px;
    }
  }
}