.Footer {
  font: var(--font-regular);
  color: var(--secondary-color-1);
  display: flex;
  height: 150px;
  flex-direction: column;

  &__container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    background: url('/kawodeda.svg') no-repeat bottom;
    background-size: 25%;

    @media (max-width: 600px) {
      background-size: 40%;
    }
  }

  &__img {
    width: 40px;
    height: 40px;

    @media (max-width: 400px) {
      width: 30px;
      height: 30px;
    }
  }
}

.SocialList {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  margin-bottom: 5px;
}

.List {
  list-style: none;

  &__item {
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 40px;

    @media (max-width: 400px) {
      width: 30px;
      height: 30px;
    }
  }
}