.ModifiedCheckboxWrapper {
  display: inline-flex;
  align-items: center;
  width: 400px;
  height: 50px;
  cursor: pointer;
  user-select: none;
}

.hiddenInput {
  display: none;
}

.box {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  border: 2px solid white;
  background: transparent;
  display: flex;
  align-items: center;
  padding: 0 16px;
  color: white;
  font: var(--font-regular);
  transition: 0.2s ease;
}

/* ==== CHECKED ==== */
.checked .box {
  background: white;
  color: black;
  border-color: white;
}

/* ==== DISABLED ==== */
.disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

.disabled .box {
  background: #888;       /* серый фон */
  color: #ccc;            /* серый текст */
  border-color: #aaa;     /* серый border */
}