.Good {
  cursor: pointer;
  z-index: var(--z-index-good);
  width: 380px;
  max-height: 395px;
  display: flex;
  flex-direction: column;

  &__img {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    margin-bottom: 20px;
    width: 380px;
    height: 285px;

    @media (max-width: 900px) {
      width: 270px;
      height: 200px;
    }

    @media (max-width: 700px) {
      width: 220px;
      height: 150px;
    }

    @media (max-width: 600px) {
      width: 380px;
      height: 285px;
    }

    @media (max-width: 450px) {
      width: 320px;
      height: 220px;
    }

    @media (max-width: 380px) {
      width: 220px;
      height: 150px;
    }
  }

  &__title,
  &__price {
    color: var(--accent-color-2);
  }

  &__title {
    font: var(--font-bold);
    text-transform: uppercase;
    margin-bottom: 12px;
  }

  &__price {
    font: var(--font-semi-bold);
  }

  &__lastPrice {
    text-decoration: line-through;
  }

  &:hover {
    transform: scale(1.01);
    transition: transform 0.2s ease-in-out;
  }

  @media (max-width: 900px) {
    width: 270px;
    height: 200px;

    &__img {
      margin-bottom: 0px;
    }

    &__title {
      font: var(--font-semi-bold);
    }
  }

  @media (max-width: 700px) {
    width: 220px;
    height: 150px;
  }

  @media (max-width: 600px) {
    width: 380px;
    height: 285px;
  }

  @media (max-width: 450px) {
    width: 320px;
    height: 220px;
  }

  @media (max-width: 380px) {
    width: 280px;
    height: 180px;
  }
}

.NewBadge {
  position: relative;

  &::after {
    content: "new";
    position: absolute;
    top: 8px;
    right: 8px;
    background: var(--secondary-color-1);
    color: var(--accent-color-2);
    font: var(--font-small);
    padding: 4px 6px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    z-index: var(--z-index-good-new-badge);
  }
}