.app-light-theme {
  //Accent-colors:
  --accent-color-1: #EC0000;
  --accent-color-2: #fff;

  //Secondary-colors:
  --secondary-color-1: #101010;
  --secondary-color-2: #818181;
  --secondary-color-3: #111111;
  --secondary-color-4: #0F0F0F;
}