.Banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  height: 270px;
  background-color: var(--secondary-color-1);
  position: relative;

  @media (max-width: 1200px) {
    padding-top: 70px;
  }

  @media (max-width: 700px) {
    height: 200px;
    padding-top: 50px;
  }

  @media (max-width: 380px) {
    height: 140px;
    padding-bottom: 0px;
  }

  &__img {
    z-index: var(--z-index-banner-image);

    @media (max-width: 1500px) {
      width: 600px;
      height: 150px;
    }
    
    @media (max-width: 1200px) {
      width: 500px;
      height: 130px;
    }

    @media (max-width: 900px) {
      width: 400px;
      height: 120px;
    }

    @media (max-width: 700px) {
      width: 300px;
      height: 100px;
    }

    @media (max-width: 550px) {
      width: 200px;
      height: 80px;
    }

    @media (max-width: 380px) {
      width: 160px;
      height: 70px;
    }
  }
}