.Goods {
  position: relative;
  width: 100%;
  background: var(--secondary-color-4);
  padding: 75px 50px 100px 50px;

  @media (max-width: 1200px) {
    padding-top: 50px;
  }

  @media (max-width: 900px) {
    padding-top: 30px;
  }

  @media (max-width: 500px) {
    padding: 10px;
    padding-bottom: 100px;
  }

  @media (max-width: 380px) {
    padding-bottom: 60px;
  }

  &__container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
    row-gap: 90px;
    width: 100%;
    //С отступом в 10px
    max-width: 770px;

    @media (max-width: 500px) {
      row-gap: 80px;
    }

    @media (max-width: 380px) {
      row-gap: 40px;
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &::before {
    width: 240px;
    height: 240px;
    top: -200px;
    left: 20px;
    background-image: url('/object1.png');
    z-index: var(--z-index-background);

    @media (max-width: 1500px) {
      width: 200px;
      height: 200px;
      top: -190px;
    }

    @media (max-width: 1200px) {
      width: 160px;
      height: 160px;
      top: -180px;
    }

    @media (max-width: 900px) {
      width: 120px;
      height: 120px;
      top: -168px;
    }

    @media (max-width: 700px) {
      width: 80px;
      height: 80px;
      top: -120px;
    }

    @media (max-width: 550px) {
      width: 50px;
      height: 50px;
      top: -105px;
    }

    @media (max-width: 380px) {
      width: 35px;
      height: 35px;
      top: -63px;
    }
  }

  &::after {
    width: 280px;
    height: 200px;
    top: -180px;
    right: 0;
    background-image: url('/object2.png');
    z-index: var(--z-index-background);

    @media (max-width: 1500px) {
      width: 240px;
      height: 160px;
      top: -160px;
    }

    @media (max-width: 1200px) {
      width: 180px;
      height: 120px;
      top: -150px;
    }

    @media (max-width: 900px) {
      width: 130px;
      height: 90px;
      top: -140px;
    }

    @media (max-width: 700px) {
      width: 90px;
      height: 60px;
      top: -100px;
    }

    @media (max-width: 550px) {
      width: 60px;
      height: 35px;
      top: -90px;
    }

    @media (max-width: 380px) {
      width: 50px;
      height: 25px;
      top: -53px;
    }
  }
}