.Goods {
  position: relative;
  width: 100%;
  background: var(--secondary-color-4);
  padding: 75px 50px 100px 50px;

  @media (max-width: 700px) {
    padding-top: 0;
  }

  &__container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
    row-gap: 90px;
    width: 100%;
    //С отступом в 10px
    max-width: 770px;

    @media (max-width: 1500px) {
      margin-top: 100px;
    }

    @media (max-width: 1200px) {
      margin-top: 300px;
    }

    @media (max-width: 900px) {
      margin-top: 180px;
    }

    @media (max-width: 700px) {
      margin-top: 0px;
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &::before {
    width: 500px;
    height: 500px;
    top: 0px;
    left: 0;
    background-image: url('/object1.png');
    z-index: var(--z-index-background);

    @media (max-width: 1500px) {
      width: 400px;
      height: 400px;
      top: -60px;
    }

    @media (max-width: 900px) {
      width: 300px;
      height: 300px;
      top: -60px;
    }

    @media (max-width: 700px) {
      top: -150px;
      width: 70px;
      height: 70px;
    }

    @media (max-width: 380px) {
      top: -77px;
    }
  }

  &::after {
    width: 500px;
    height: 410px;
    top: 60px;
    right: 0;
    background-image: url('/object2.png');
    z-index: var(--z-index-background);

    @media (max-width: 1500px) {
      width: 400px;
      height: 300px;
      top: 0px;
    }

    @media (max-width: 900px) {
      width: 350px;
      height: 240px;
      top: 0;
    }

    @media (max-width: 700px) {
      top: -136px;
      width: 70px;
      height: 50px;
    }

    @media (max-width: 380px) {
      top: -60px;
      width: 70px;
      height: 50px;
    }
  }
}