.ProductPage {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: var(--secondary-color-3);

  &__container {
    display: flex;
    padding: 20px 20px 20px;
    padding-top: 100px;
    color: var(--accent-color-2);
    padding-bottom: 80px;

    @media (max-width: 1030px) {
      flex-direction: column;
      padding: 40px;
      padding-top: 80px;
    }

    @media (max-width: 1030px) {
      flex-direction: column;
      padding: 40px;
      padding-top: 80px;
    }

    @media (max-width: 600px) {
      flex-direction: column;
      padding: 20px;
      padding-top: 80px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    flex-direction: column;
    color: var(--accent-color-2);
    margin-bottom: 30px;

    @media (max-width: 1200px) {
      margin-bottom: 15px;
    }
  }

  &__title {
    font: var(--font-title);
    color: var(--accent-color-2);
    text-transform: uppercase;

    @media (max-width: 1440px) {
      font: var(--font-title-smaller);
    }
  }

  &__subTitle {
    font: var(--font-smaller);
    color: var(--secondary-color-2);

    @media (max-width: 1200px) {
      font: var(--font-title-small);
    }
  }

  &__price {
    font: var(--font-bold);
    margin-bottom: 15px;

    @media (max-width: 1200px) {
      font: var(--font-semi-bold);
    }
  }

  &__description {
    font: var(--font-smaller);

    @media (max-width: 1200px) {
      font: var(--font-small);
    }
  }
}

.Sizes {
  margin-bottom: 40px;

  @media (max-width: 1200px) {
    margin-bottom: 20px;
  }
}

.Button {
  margin-bottom: 60px;

  @media (max-width: 1200px) {
    margin-bottom: 30px;
  }
}