.ProductPage {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: var(--secondary-color-3);

  &__container {
    display: flex;
    padding: 20px 20px 20px;
    padding-top: 100px;
    color: var(--accent-color-2);
    padding-bottom: 80px;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__photos {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 670px;
    max-height: 550px;
    margin-right: 60px;
    pointer-events: none;
    gap: 5px;

    @media (max-width: 1200px) {
      margin-right: 30px;
    }
  }

  &__img {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-grow: 0;
    width: 330px;
    max-height: 270px;

    @media (max-width: 1200px) {
      width: 300px;
      max-height: 240px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    color: var(--accent-color-2);
    margin-bottom: 30px;

    @media (max-width: 1200px) {
      margin-bottom: 15px;
    }
  }

  &__title {
    font: var(--font-title);
    color: var(--accent-color-2);
    text-transform: uppercase;

    @media (max-width: 1440px) {
      font: var(--font-title-smaller);
    }
  }

  &__subTitle {
    font: var(--font-smaller);
    color: var(--secondary-color-2);

    @media (max-width: 1200px) {
      font: var(--font-title-small);
    }
  }

  &__price {
    font: var(--font-bold);
    margin-bottom: 15px;

    @media (max-width: 1200px) {
      font: var(--font-semi-bold);
    }
  }

  &__description {
    font: var(--font-smaller);

    @media (max-width: 1200px) {
      font: var(--font-small);
    }
  }
}

.Sizes {
  margin-bottom: 40px;

  @media (max-width: 1200px) {
    margin-bottom: 20px;
  }
}

.Button {
  margin-bottom: 60px;

  @media (max-width: 1200px) {
    margin-bottom: 30px;
  }
}