.ProductPage {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: var(--secondary-color-3);

  &__container {
    display: flex;
    padding: 20px 20px 20px;
    padding-top: 100px;
    color: var(--accent-color-2);
    padding-bottom: 80px;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__photos {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 670px;
    margin-right: 60px;
    pointer-events: none;
    gap: 5px;
    flex-shrink: 0;
    flex-grow: 0;
  }

  &__img {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
  }

  &__header {
    display: flex;
    flex-direction: column;
    color: var(--accent-color-2);
    margin-bottom: 30px;
  }

  &__title {
    font: var(--font-title);
    color: var(--accent-color-2);
    text-transform: uppercase;
  }

  &__subTitle {
    font: var(--font-smaller);
    color: var(--secondary-color-2);
  }

  &__price {
    font: var(--font-bold);
    margin-bottom: 15px;
  }

  &__btn {
    font: var(--font-regular);
    text-transform: uppercase;
    align-items: center;
    display: flex;
    justify-content: center;
    width: auto;
    height: 70px;
    border: 1px solid var(--accent-color-2);
    color: #000;
    background: var(--accent-color-2);
    margin-bottom: 60px;
  }

  &__description {
    font: var(--font-smaller)
  }
}

.Sizes {
  margin-bottom: 40px;
}